<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-lg-4">
      <h4>All Candidate</h4>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item list-group-item-info" *ngFor="let singlecandidate of candidateList;let index = index">
          {{singlecandidate}} 
          <button class="btn btn-danger" style="float: right;margin-left: 10px;" (click)="delete(index)">Delete</button>&nbsp;&nbsp;
          <button class="btn btn-info" style="float: right;"(click)="d1Done(index)">Move</button>&nbsp;&nbsp;
        </li>
        </ol>
    </div>

    <div class="col-lg-4">
      <h4>Dose-1 Candidate</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger" *ngFor="let candidate of dose1;let index = index">
          {{candidate}} 
          <button class="btn btn-danger" style="float: right;margin-left: 10px;" (click)="remove(index)">Undo</button> 
        <button class="btn btn-success text-end" style="float: right;" (click)="d2Done(index)">Move</button>
       
        </li>     
      </ul>
    </div>
    <div class="col-lg-4">
      <h4>Dose-2 Candidate</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning" *ngFor="let candidate of dose2;let index = index">
          {{candidate}} 
          <button class="btn btn-warning" style="float: right;" (click)="clear(index)">Undo</button>
        </li>
      </ul>
    </div>
    
  </div>
</div>